
.fade-in {
    animation-name: fade-in;
    animation-duration: 3s;
}

.fade-out {
    animation-name: fade-out;
    animation-duration: 1.3s;
    animation-delay: 3s;
    animation-timing-function: ease-out;
}

@keyframes fade-in {
    
    from {
        transform: translateX(20%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}


@keyframes fade-out {
    
    0% {
        transform: translateX(0%);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%);
        opacity: 0;
    }
}

.carousel-container {

    width: calc(100vw-(100vw - 100%));
    box-sizing: border-box;
    padding-right: 3vw;
    padding-left: 3vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

#carouselimg {
    border: 4px solid white;
    box-shadow: 3px 3px 2px 0px rgba(128, 128, 128, 0.459);
    width: 96vw;
}