
.comment-boxcontainer {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 30vw;
    margin-left: .5vw;
}


@media screen and (max-width: 600px) {

    .comment-boxcontainer {
        width: 96vw;
    }
    
}

.comment-container {
    height: 100%;
    width: 100%;
    padding-top: 1vh;
    background-color: #d8d8d8;
    box-shadow: inset 0 0 20px 1px rgba(128, 128, 128, 0.377);
}
.comment-subcontainer {
    
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1vw;
    padding-right: 1vw;
    

}

.highlight {
    background-color: #9ec9f048;
}



.comment-div {
    color: rgb(69, 69, 69);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.7vw;
    padding-left: 1vw;
}

@media screen and (max-width: 600px) {

    .comment-div {
        font-size: 5vw;
    } 
    
}

@media screen and (min-width: 700px) and (max-width: 1024px) and (orientation: portrait) {

    .comment-div {
       
        font-size: 3vw;
    }
    
}
.name-date-container {
    padding-left: 1vw;
    margin-top: 1vh;
}

.namespan {
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    font-weight:bolder;
    font-size: 1.5vw;
    color: rgb(58, 58, 58);

}

time {
    margin-left: 1vw;
    font-family: 'Times New Roman', Times, serif;
    font-style:italic;
    font-size: 1.2vw;
}

@media screen and (max-width: 600px) {

    .namespan {
        font-size: 3vw;
    }

    time {
        font-size: 3vw;
    }
    
}

@media screen and (min-width: 700px) and (max-width: 1024px) and (orientation: portrait) {

    .namespan {
        font-size: 2.5vw;
    }

    time {
        font-size: 2.5vw;
    }
    
    
}